@import "susy";
@import "modular-scale/stylesheets/modular-scale";

$base-font-size: 14px;


body {
    background: #fafafa;
    font-family: Arial, sans-serif;
    color: #333;
}

.hero-unit {
    @include container(80%);

    font-size: modular-scale(1, $base-font-size, $golden);
    font-weight: 200;
    line-height: 30px;
    background-color: #74c49d;
    border-radius: 6px;
    padding: 60px;
    h1 {
        font-size: modular-scale(3, $base-font-size, $golden);
        line-height: 1;
        letter-spacing: -1px;
    }
}