//http://compass-style.org/reference/compass/reset/utilities/
@import "compass/reset";
@import "../bower_components/grid-scss/grid";
@import "typo";

//http://modularscale.com/scale/?px1=14&px2=20&ra1=1.618&ra2=0
$base-gutter: 1.429rem;

.page {
    background: #fff;
    .title {
        text-align: center;
        margin-bottom: $base-gutter*2;
    }
    ul {
        list-style: none;
        padding-bottom: $base-gutter;

        > li {

            border-radius: 5px;
            background: #eee;

            padding-right: $base-gutter;
            margin-bottom: $base-gutter;

            > h2 {
                padding: $base-gutter 0 0 $base-gutter;
            }

            .side {

                @include col(2, 1, 12, $base-gutter);
                padding-left: $base-gutter;

                .action-list {
                    list-style: none;
                    margin-bottom: -10px;

                    > li {
                        margin-bottom: 10px;
                        text-align: center;
                        font-weight: bold;
                        background: #ccc;
                        border-radius: 3px;
                        padding: 5px 0;
                        cursor: pointer;
                        transition: background .3s;

                        &:hover {
                            background: #bbb;
                        }
                        &.disabled {
                            background: #ccc;
                            opacity: .4;
                            cursor: default;
                        }

                    }

                }

            }
            .main {

                @include col(10, 3, 12, $base-gutter);

                > div {
                    background: url(bg.gif);
                    overflow: hidden;
                    border-radius: 5px;
                    position: relative;
                    margin-bottom: $base-gutter;
                    padding: $base-gutter;
                }
            }
        }

    }

}

@import "../bower_components/helper-scss/helper";

