/* line 5, C:\Ruby193\lib\ruby\gems\1.9.1\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\reset\_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:\Ruby193\lib\ruby\gems\1.9.1\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\reset\_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:\Ruby193\lib\ruby\gems\1.9.1\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\reset\_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:\Ruby193\lib\ruby\gems\1.9.1\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\reset\_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:\Ruby193\lib\ruby\gems\1.9.1\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\reset\_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:\Ruby193\lib\ruby\gems\1.9.1\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\reset\_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:\Ruby193\lib\ruby\gems\1.9.1\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\reset\_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:\Ruby193\lib\ruby\gems\1.9.1\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\reset\_utilities.scss */
a img {
  border: none;
}

/* line 116, C:\Ruby193\lib\ruby\gems\1.9.1\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\reset\_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 13, main.scss */
body {
  background: #fafafa;
  font-family: Arial, sans-serif;
  color: #333;
}

/* line 24, main.scss */
html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #3a3a3a;
}

/* line 30, main.scss */
#main {
  list-style: none;
  padding: 40px;
  margin: 0;
}

/* line 35, main.scss */
#main > li {
  margin-bottom: 40px;
  border-radius: 5px;
  background: #eee;
  padding: 20px;
}

/* line 41, main.scss */
#main > li > h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

/* line 46, main.scss */
#main .side {
  width: 100px;
  float: left;
  display: inline-block;
  margin-right: 20px;
}

/* line 52, main.scss */
#main .side .action-list {
  list-style: none;
  margin-bottom: -10px;
}

/* line 56, main.scss */
#main .side .action-list > li {
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

/* line 62, main.scss */
#main .side .action-list > li {
  background: #ccc;
  border-radius: 3px;
  padding: 5px 15px;
  cursor: pointer;
  transition: background .3s;
}

/* line 69, main.scss */
#main .side .action-list > li:hover {
  background: #bbb;
}

/* line 73, main.scss */
#main .side .action-list > li.disabled {
  background: #ccc;
  opacity: 0.5;
  cursor: default;
}

/* line 79, main.scss */
#main .demo-co {
  background: url(bg.gif);
  padding: 50px;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}

/*  ==========================================================================  */
/*  =========================================== Non Semantic Helper Classes ==  */
/*  ==========================================================================  */
/*http://www.paulirish.com/2012/box-sizing-border-box-ftw/*/
/* line 9, ../bower_components/helper-scss/_helper.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../bower_components/helper-scss/_helper.scss */
.nopadding {
  padding: 0 !important;
}

/* line 17, ../bower_components/helper-scss/_helper.scss */
.nobr {
  white-space: nowrap;
}

/* line 19, ../bower_components/helper-scss/_helper.scss */
.oh {
  overflow: hidden;
}

/* line 21, ../bower_components/helper-scss/_helper.scss */
.relative {
  position: relative;
}

/* line 22, ../bower_components/helper-scss/_helper.scss */
.fl {
  float: left;
}

/* line 23, ../bower_components/helper-scss/_helper.scss */
.fr {
  float: right;
}

/* line 25, ../bower_components/helper-scss/_helper.scss */
.inlineBlock {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* line 29, ../bower_components/helper-scss/_helper.scss */
.unselectable {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 33, ../bower_components/helper-scss/_helper.scss */
.gpu {
  transform: translateZ(0);
}

/*  =============== Hidden & Similar ==  */
/*  ===================================  */
/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 41, ../bower_components/helper-scss/_helper.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 47, ../bower_components/helper-scss/_helper.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  /* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
}
/* line 58, ../bower_components/helper-scss/_helper.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 69, ../bower_components/helper-scss/_helper.scss */
.invisible {
  visibility: hidden;
}

/*  ====================== Clear Fix ==  */
/*  ===================================  */
/* The Magnificent Clearfix: nicolasgallagher.com/micro-clearfix-hack/ */
/* line 76, ../bower_components/helper-scss/_helper.scss */
.clearfix {
  zoom: 1;
}
/* line 78, ../bower_components/helper-scss/_helper.scss */
.clearfix:after {
  clear: both;
}
/* line 79, ../bower_components/helper-scss/_helper.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/*  ============= Vertical Centering ==  */
/*  ===================================  */
/* line 84, ../bower_components/helper-scss/_helper.scss */
.vert-cent-co {
  display: table;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
/* line 89, ../bower_components/helper-scss/_helper.scss */
.vert-cent-co > div {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  margin: 0 auto;
}
